<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="/layout :: head">
    </head>
<body>
<a th:href="@{/products/create}" role="button" class="btn btn-success">Add New Product</a><br>

<!--<form method="post">-->
<!--    Search by first name:-->
<!--    <input name="search" type="text"/>-->
<!--    <input type="submit" value="Search"/>-->
<!--</form>-->
<form method="post" action="/products/search">
    <select th:name="category" th:id="category">
        <th:block th:each="category:${categoryList}">
            <option th:value="${category.id}" th:text="${category.name}"></option>
        </th:block>
    </select>
<!--    <input type="submit" value="search">-->
    <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Search</button>
    <br>
</form>
<a th:href="@{/products/top5New}" role="button" class="btn btn-warning">Top 5 By New</a>
<a th:href="@{/products/top5Price}" type="button" class="btn btn-secondary">Top 5 By Price</a>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="p: ${products}">
        <tr>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.dateTime}"></td>
            <td th:text="${p.quantity}"></td>
            <td th:text="${p.category.name}"></td>
            <td><a th:href="@{'/products/edit/'+${p.id}}" role="button" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{'/products/delete/'+${p.id}}" role="button" class="btn btn-danger"
                   onclick="return confirm('Ban co muon xoa khong?');">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/products'(page=${products.number - 1})}" role="button" class="btn btn-primary" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/products'(page=${products.number + 1})}" role="button" class="btn btn-primary" th:if="${products.hasNext()}">Next</a>
</div>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>