<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="/layout :: head">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
    <a th:href="@{/products}" role="button" class="btn btn-warning">Back To List</a>
<body>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="p: ${products}">
        <tr>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.dateTime}"></td>
            <td th:text="${p.quantity}"></td>
            <td th:text="${p.category.name}"></td>
            <td><a th:href="@{'/products/edit/'+${p.id}}">Edit</a></td>
            <td><a th:href="@{'/products/delete/'+${p.id}}"
                   onclick="return confirm('Ban co muon xoa khong?');">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>